---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <h1>
    Sous le ciel étoilé,
    <br />
    Le code prend vie, éclatant,
    <br />
    Logique silencieuse.
  </h1>
</DefaultLayout>
