---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <h1>
    Un milliers dՎtoiles,
    <br />
    Logique silencieuse,
    <br />
    Un code prend vie.
  </h1>
</DefaultLayout>
