.main-column {
  width: 77%;

  @media only screen and (max-width: 768px) {
    /* Styles for small screens */
    width: 100%;
  }

  .block-group {
    position: relative;
    padding-bottom: 20px;

    &:before {
      content: "";
      height: calc(100% + 20px);
      width: 1px;
      border-left: 1px solid light-dark(var(--light-border), var(--dark-border));
      position: absolute;
      left: -21px;
      top: 10px;
    }

    &:first-of-type {
      &:after {
        content: "";
        height: 9px;
        width: 9px;
        position: absolute;
        border: 1px solid light-dark(var(--light-border), var(--dark-border));
        background-color: light-dark(var(--light-bckgd), var(--dark-bckgd));
        left: -25px;
        top: 10px;
        transform: rotate(45deg);
      }
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid
        light-dark(var(--light-border), var(--dark-border));
      margin-bottom: 20px;

      @media print {
        border-bottom: none;
      }
    }

    &:last-of-type {
      &:before {
        height: calc(100% - 40px);
        top: 0;
      }

      &:after {
        content: "";
        height: 9px;
        width: 9px;
        position: absolute;
        border: 1px solid light-dark(var(--light-border), var(--dark-border));
        background-color: light-dark(var(--light-bckgd), var(--dark-bckgd));
        left: -25px;
        bottom: 30px;
        transform: rotate(45deg);
      }
    }

    .block {
      position: relative;

      &:after {
        content: "";
        height: 9px;
        width: 9px;
        border-radius: 45px;
        position: absolute;
        border: 1px solid light-dark(var(--light-border), var(--dark-border));
        background-color: light-dark(var(--light-bckgd), var(--dark-bckgd));
        left: -25px;
        top: 10px;
      }

      &:last-of-type {
        &:before {
          height: calc(100% - 10px);
        }
      }

      img {
        border: 1px dotted light-dark(var(--light-border), var(--dark-border));
        border-radius: 8px;
        max-width: 55%;
        margin-bottom: 20px;

        @media only screen and (max-width: 768px) {
          display: none;
        }

        @media print {
          display: none;
        }
      }

      .tags {
        flex-wrap: wrap;

        > small {
          color: light-dark(var(--dark-font-title), var(--light-font-title));
          background: light-dark(
            var(--light-font-title),
            var(--dark-font-title)
          );
          border: 1px solid
            light-dark(var(--light-font-title), var(--dark-font-title));
          border-radius: 2px;
          padding: 0 4px;
          font-weight: 900;
        }

        ~ small {
          margin-top: 20px;
          text-align: right;
        }
      }
    }
  }
}
