#space {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--dark-bckgd) !important;

  #planet > div {
    position: relative;
    z-index: 0;

    img.logo {
      width: 320px;
      max-width: calc(100% - 20px);
      margin: 0;
      border-radius: 100%;
    }

    &:before {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      height: 300px;
      width: 300px;
      box-shadow: inset 29px 22px 45px -21px #88d8fac9;
      border-radius: 1000px;
      margin: 0;
      padding: 0;
    }

    &:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      height: 300px;
      width: 300px;
      box-shadow: inset -30px -37px 88px #000210;
      border-radius: 1000px;
      margin: 0;
      padding: 0;
    }
  }
  #intro-text > div {
    z-index: 1000;
    margin-top: 110vh;
    color: var(--dark-font-main);
    transform: perspective(200px) rotateX(25deg);
    font-weight: light;
    text-align: center;
    font-size: 2rem;
    font-size: 350%;
    bottom: 0;

    a {
      font-weight: bolder;
      text-decoration: none;
      text-shadow: 0 0 15px #8bdcff;
      transition: all 75ms linear;
      color: var(--dark-font-main) !important;

      &:active,
      &:visited {
        color: var(--dark-font-main) !important;
      }

      &:focus,
      &:hover {
        outline: none;
        color: var(--dark-font-main) !important;
        opacity: 100%;
        background: transparent;
        text-shadow: 0 0 35px #8bdcff;
        text-decoration: underline;
      }
    }
  }
  #comet > div {
    position: absolute;
    width: 180px;
    max-width: calc(100% - 20px);
    top: -20px;
    right: 200px;

    > img {
      position: absolute;
      width: 100%;
    }

    &:after {
      position: absolute;
      content: "";
      top: 64.5px;
      right: 156px;
      height: 18px;
      width: 18px;
      box-shadow: inset 5px -3px 4px -4px #f00;
      border-radius: 1000px;
      margin: 0;
      padding: 0;
    }
  }

  > .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    > .red-planet {
      background-color: #e65c00;
      border: 3px solid #962300;
      border-left: none;
      border-top: none;
    }

    > .blue-planet {
      background-color: #e6d700;
      border: 3px solid #c28500;
      border-left: none;
      border-top: none;
    }

    > .celestial {
      position: absolute;
      border-radius: 30px;
    }

    > .star {
      background-color: #8bdcff;

      &:nth-of-type(10n) {
        background-color: rgb(255, 191, 0);
      }

      &:nth-of-type(25n) {
        background-color: rgb(255, 72, 0);
      }

      &:nth-of-type(4n) {
        background-color: #fffcef;
      }

      &:nth-of-type(14n) {
        box-shadow: 0 0 100px 30px #000000;
      }
    }
  }
  .layer-base {
    transform: translate(0);
    z-index: 4;
    pointer-events: none;
  }
  .layer-back {
    transform: translateZ(-2px) scale(3);
    z-index: 2;
    pointer-events: none;
  }

  .layer-deep {
    transform: translateZ(-4px) scale(5);
    z-index: 0;
    pointer-events: none;
  }

  .layer-ganymede {
    transform: translateZ(-3px) scale(4);
    z-index: 1;
  }
  .layer-text {
    transform: translateZ(-1px) scale(2);
    z-index: 1;
  }

  .layer-comet {
    transform: translateZ(-1px) scale(2);
    z-index: 3;
    pointer-events: none;
  }
}
