// hide date, site title etc.
@page {
  size: auto;
  margin: 2mm auto;
}

html,
body {
  margin: 0;
  width: 100%;
  font-family: "FiraSans", sans-serif;
  font-size: 1rem; /* 16px */
  color: light-dark(var(--light-font-main), var(--dark-font-main));
  background: light-dark(var(--light-bckgd), var(--dark-bckgd));
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  color-scheme: light dark;

  --light-bckgd: #fff;
  --light-font-main: #333;
  --light-font-title: #000741;
  --light-border: #000b6f;

  --dark-bckgd: #000429;
  --dark-font-main: #d3e4ff;
  --dark-font-title: #d3e4ff;
  --dark-border: #d3e4ff;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}

.default-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

@font-face {
  font-family: "Forum";
  src: url("/src/fonts/Forum/Forum-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("/src/fonts/Fira_Sans/FiraSans-Thin.ttf") format("TrueType");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("/src/fonts/Fira_Sans/FiraSans-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("/src/fonts/Fira_Sans/FiraSans-Bold.ttf") format("TrueType");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  src: url("/src/fonts/Fira_Sans/FiraSans-Italic.ttf") format("TrueType");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

h1 {
  font-family: "FiraSans", sans-serif;
  font-size: 3rem;
  color: light-dark(var(--light-font-title), var(--dark-font-title));
}

h2 {
  font-family: "Forum", serif;
  color: light-dark(var(--light-font-title), var(--dark-font-title));
  font-variant: small-caps;
  font-weight: lighter;
  font-size: 1.6rem;
}

h3 {
  color: light-dark(var(--light-font-title), var(--dark-font-title));
  font-size: 1.05rem;
}

p {
  margin: 10px auto;
}

a {
  color: light-dark(
    var(--light-font-title),
    var(--dark-font-title)
  ); /* Set link color to a blue */
  text-decoration: underline; /* Add an underline on hover */

  &:hover,
  &:focus {
    color: var(--light-font-title) !important;
    background-color: #ffbf47;
  }

  &:active,
  &:visited {
    color: light-dark(var(--light-font-title), var(--dark-font-title));
  }

  &:focus {
    outline: 2px solid #ffbf47; /* Add focus outline for accessibility */
    outline-offset: 2px;
  }

  @media print {
    text-decoration: none; /* Remove the default underline */
  }
}

.separator {
  margin: 20px auto;
  border-radius: 45px;
  height: 1px;
  width: 30px;
  position: relative;
  background: light-dark(var(--light-border), var(--dark-border));

  &:after {
    content: "";
    position: absolute;
    top: -4px;
    left: calc(50% - 4px);
    width: 9px;
    height: 9px;
    border: 1px solid light-dark(var(--light-border), var(--dark-border));
    border-radius: 15px;
    background: #fff;
    border-radius: 15px;
    display: block;
  }
}

@media print {
  html {
    font-size: 13px;
    line-height: 16px;
  }
  .no-print {
    display: none;
  }
}
