/* flex */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Grid Gap */
.gap-0 {
  grid-gap: 0;
}

.gap-1 {
  grid-gap: 0.25rem;
}

.gap-2 {
  grid-gap: 0.5rem;
}

.gap-3 {
  grid-gap: 0.75rem;
}

.gap-4 {
  grid-gap: 1rem;
}

.gap-5 {
  grid-gap: 1.25rem;
}

.gap-6 {
  grid-gap: 1.5rem;
}

/* Grid Item Alignment */
.justify-start {
  justify-self: start;
}

.justify-end {
  justify-self: end;
}

.justify-center {
  justify-self: center;
}

.justify-stretch {
  justify-self: stretch;
}

.align-start {
  align-self: start;
}

.align-end {
  align-self: end;
}

.align-center {
  align-self: center;
}

.align-stretch {
  align-self: stretch;
}

/* Grid Container Alignment */
.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

/* Grid Container Content Alignment */
.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-stretch {
  justify-content: stretch;
}

.align-content-start {
  align-content: start;
}

.align-content-end {
  align-content: end;
}

.align-content-center {
  align-content: center;
}

.align-content-stretch {
  align-content: stretch;
}

.justify-content-space-between {
  justify-content: space-between;
}
