---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div id="space">
    <div
      id="planet"
      class="flex flex-column justify-content-center align-items-center layer layer-ganymede"
    >
      <div title="Scroll, relax">
        <img class="logo" src="/celestials/ganymede.svg" />
      </div>
    </div>
    <div
      id="intro-text"
      class="flex flex-column justify-content-center align-items-center layer layer-text"
    >
      <div>
        Tu préfères<br />
        <a href="/haiku">un haiku</a> ou <a href="/cv">un CV</a> ?
      </div>
    </div>
    <div
      id="comet"
      class="flex flex-column justify-content-center align-items-center layer layer-comet"
    >
      <div>
        <img src="/celestials/comet.svg" />
      </div>
    </div>
    <div id="star-container" class="layer layer-deep"></div>
    <div id="planet-small-container" class="layer layer-back"></div>
    <div id="planet-medium-container" class="layer layer-base"></div>
  </div>
</DefaultLayout>
<script>
  function starFactory(windowWidth: number, windowHeight: number) {
    var stars = document.getElementById("star-container");
    var smallPlanets = document.getElementById("planet-small-container");
    var mediumPlanets = document.getElementById("planet-medium-container");

    var celestials = [] as any;

    function nebulae(
      count: number,
      sizeMultiplier: number,
      sizeOffset: number,
      className: string,
      anchorNode: any
    ) {
      for (var i = 0; i < count; i++) {
        var size = sizeMultiplier * Math.random() + sizeOffset;
        var posX = Math.random();
        var posY = Math.random();
        var newCelestial = document.createElement("div");
        newCelestial.className = className + " celestial";
        newCelestial.style.width = `${size}px`;
        newCelestial.style.height = `${size}px`;
        newCelestial.style.top = `${posX * windowHeight}px`;
        newCelestial.style.left = `${posY * windowWidth}px`;
        anchorNode.appendChild(newCelestial);
        celestials.push({ element: newCelestial, X: posX, Y: posY });
      }
    }

    nebulae(1400, 1.5, 0.4, "star ", stars);
    nebulae(400, 3, 1, "star halo", stars);
    nebulae(4, 6, 8, "red-planet", smallPlanets);
    nebulae(2, 8, 8, "blue-planet", mediumPlanets);

    return {
      reDraw: function () {
        var newWidth = window.innerWidth;
        var newHeight = window.innerHeight * 1.1;

        for (var i = 0; i < celestials.length; i++) {
          var celestial = celestials[i];
          var newStar = celestial.element;
          newStar.style.top = `${celestial.X * newHeight}px`;
          newStar.style.left = `${celestial.Y * newWidth}px`;
        }
      },
    };
  }

  (function draw() {
    var windowWidth = window.innerWidth;
    var windowHeight = window.innerHeight * 1.1;

    var orion = starFactory(windowWidth, windowHeight);

    var comet = document.getElementById("comet");
    var space = document.getElementById("space");
    space?.addEventListener("scroll", function (e) {
      if (!comet || !space) {
        return;
      }
      var run = (space.scrollTop / space.scrollHeight) * 100;
      comet.style.top = `${(run * 50) / 2 - 20}px`;
      comet.style.right = `${run * 50 + 200}px`;
    });

    window.addEventListener("resize", orion.reDraw);
  })();
</script>
