header {
  margin: 20px 0;
}
h1 {
  font-variant: small-caps;
  font-weight: lighter;
  margin-left: 10px;
  font-size: 4rem !important;
  line-height: 6rem;

  strong {
    font-weight: bolder;
  }
}

img {
  width: 90px;
  border-radius: 100px;
  border: 1px solid var(--border);
}
