header {
  margin: 20px 0;
}

header > div > div {
  margin-left: 10px;
  color: var(--font-title);
}
h1 {
  font-weight: lighter;
  font-size: 3rem !important;
  line-height: 2.6rem;
  font-weight: 100;

  strong {
    font-weight: 600;
    opacity: 0.9;
  }
}

img {
  width: 90px;
  border-radius: 100px;
  border: 1px solid var(--border);
}
