#two-column-layout {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 768px) {
    /* Styles for small screens */
    flex-direction: column-reverse;
  }

  @media print {
    flex-direction: column-reverse;
  }
}
